html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Application Wide */
.app {
  color: black;
  font-family: 'Raleway';
  letter-spacing: 0.0625em;
}

/* NavBar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  background: #000000;
  list-style-type: none;
  padding: 0 125px 0 30px;
}

.nav-text {
  font-display: bold;
  font-size: 14px;
}

/* LandingPage */
.landing-grid {
  min-height: 500px;
  padding: 125px;
  align-items: start;
  text-align: left;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.name p {
  margin-right: 20px;
  color: #00baba;
  font-weight: 900;
  font-size: 18px;
}

.landing-intro {
  font-size: 60px;
  font-weight: 900;
}

.landing-intro-text {
  font-size: 25px;
}

.landing-grid a {
  color: black;
  font-size: 30px;
  padding-right: 30px;
}

/* Projects */
.projects {
  padding-bottom: 100px;
  /* width: 80%; */
}

.project-title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.card {
  flex: 0 0 500px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: black;
  height: 600px;
}
.card img {
  width: 100%;
  height: 350px;
}
.card > .text {
  padding: 0 20px 20px;
  color: white;
}

.card-title {
  text-align: center;
  margin-top: 10px;
}

.card .text > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0;
  padding: 10px;
  font-size: 18px;
}

.text > .links a {
  color: #00baba;
  font-size: 12px;
  font-weight: 900;
  padding: 7px 15px 7px 15px;
  border: solid 2px #00baba;
  border-radius: 4px;
}

.project-info {
  letter-spacing: 0.2em;
  height: 85px;
}

/* Skills */
.skills {
  text-align: center;
  padding-bottom: 100px;
}

.tech-skills {
  font-size: 30px;
  font-weight: 900;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  padding-top: 15px;
}

/* About */
.about {
  font-size: 30px;
  font-weight: 900;
}

.fa-chevron-right {
  color: #00baba;
  font-size: 12px;
  font-weight: 900;
  padding-right: 10px;
}

/* Contact */
.contact {
  display: block;
  padding: 15px;
  padding-bottom: 50px;
  font-size: 16px;
}

.contact-me {
  font-size: 30px;
  font-weight: 900;
}

.contact-div .contact-list {
  padding-left: 0;
}

.contact-list i {
  padding: 8px;
}

/* Footer */

.footer {
  color: white;
  background: #000000;
}

.social-links i {
  color: white;
  font-size: 50px;
  padding: 20px;
}

.social-links {
  width: 100%;
  margin: auto;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 651px) and (max-width: 1080px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 650px) {
  .project-title,
  .tech-skills,
  .about,
  .contact-me {
    font-size: 1.5em;
  }

  /* navbar */
  .navbar {
    flex-direction: row;
    justify-content: center;
    padding: 0 5px 0 5px;
  }
  .nav-text {
    font-size: 12px;
  }

  /* landing-grid */

  .landing-grid {
    padding: 70px 30px 30px 30px;
    min-height: 300px;
  }

  .landing-intro {
    font-size: 1.5em;
  }

  .landing-intro-text {
    font-size: 1em;
  }

  .landing-grid a {
    font-size: 2em;
    align-items: center;
  }

  /* technical skills */

  .tech-images {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
  }

  /* footer */

  .social-links i {
    font-size: 2em;
    padding: 15px 25px 15px 25px;
  }
}
